#main-title {
  text-align: center;
}
#nav {
  text-align: center;
  padding: 5px;
}

#topic-title {
  text-align: center;
}

#categories {
  text-align: center;
}
#article-card-title {
  text-align: center;
}

#article-card {
  text-align: center;
}

#body {
  text-align: center;
  border: solid 3px;
  border-color: cornflowerblue;
}

#comment-title {
  text-align: center;
}

#comment-list {
  text-align: center;
  list-style-type: none;
}

#each-comment {
  border-bottom: 2px solid grey;
  padding: 5px;
}

#comment-card {
  border: solid 3px;
  padding: top 1rem;
}

#users-list {
  text-align: center;
  list-style: none;
}

#users-title {
  text-align: center;
}
