#main-title {
  text-align: center;
}
#nav {
  text-align: center;
  padding: 5px;
}

#topic-title {
  text-align: center;
}

#categories {
  text-align: center;
}
#article-card-title {
  text-align: center;
}

#article-card {
  text-align: center;
}

#body {
  text-align: center;
  border: solid 3px;
  border-color: cornflowerblue;
}
